**/autoconf-template-perl.log
**/*.1man
*.spec
aclocal.m4
configure
tags
TAGS
.make.state
.nse_depinfo
*~
#*
.#*
,*
_$*
*$
*.old
*.bak
*.BAK
*.orig
*.rej
.del-*
*.a
*.olb
*.o
*.obj
*.so
*.exe
*.Z
*.elc
*.ln
core
**/Makefile
**/Makefile.in
config.status
config.log
autom4te.cache/
autotools/missing
autotools/install-sh
src/main/perl/**/*.pm
src/main/perl/**/*.pl
src/main/perl/**/*.cgi
src/main/perl/**/*.xml
src/main/perl/lib/*.tpl
config/*.xml
src/main/bash/**/*.sh
cpan/provides
cpan/resources
cpan/test-requires
cpan/extra-files
cpan/*.tar.gz
src/main/perl/bin/autoconf-ax-requirements-check
src/main/perl/bin/autoconf-ax-extra-opts
src/main/perl/bin/autoconf-template-perl
install-from-cpan
resources/autoconf-template-perlrc
resources/.autoconf-template-perlrc
templates/extra-files
